<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
    <test name="SampleTest">
        <classes>
            <class name="Tests.BaseClassTest"/>
            <class name="Tests.OnBoardingTest"/>
            <class name="Tests.LiveViewTest"/>
            <class name="Tests.GalleryTest"/>
            <class name="Tests.EventsTest"/>
            <class name="Tests.SettingsTest"/>
            <class name="Tests.MenuTest"/>
            <class name="Tests.FotaTest"/>
        </classes>
    </test>
</suite>
